* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    margin: 10px 5%;
    border: 2px solid #000000;
}

.container > * {
    margin: 10px auto;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    text-shadow: 1px 1px 1px #ffe200;
}

.general {
    display: flex;
    width: 95%;
    max-width: 768px;
}

.general * {
    border: 2px solid black;
    width: 50%;
    padding: 10px;
}

.general p {
    text-align: center;
}

.show_qrcode .title {
    background-color: #bff8e5;
    font-size: 1rem;
}

.text_label {
    background-color: #f5ceb4;
    font-weight: bold;
}

.text_label_details {
    background-color: #bff8e5;
}

.text_label_cost {
    background-color: #c1e0fb;
    font-weight: bold;
}

.d-none {
    display: none;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo > img{
    max-width: 150px;
    height: auto;
}

#today {
    color: red;
    text-align: center;
    font-weight: bold;
}

input, input::placeholder {
    text-align: center;
    color: red;
}

.show_qrcode {
    display: block !important;
    border: 1px solid yellow;
}

.show_qrcode * {
    font-size: 0.7rem;
}

.show_qrcode div, .show_qrcode p.title {
    width: 96%;
}

.link-qrcode, button {
    width: 24.8% !important;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.5);  /* Sử dụng màu sắc với độ mờ (opacity) */
    font-style: italic;  /* Tùy chọn: Thêm kiểu chữ nghiêng cho placeholder */
}

button:hover {
    background-color: #ffe200;
}

.input-qrcode, .output-qrcode {
    display: flex;
}

.output-qrcode {
    justify-content: center;
}

#qrcode {
    transform: translateY(-50px); 
    transition: opacity 1s ease, transform 1s ease;
    top: 50px;
    position: relative;
}

#qrcode.visible {
    transform: translateY(0);
}
