<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coaster Manager</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <p class="title">QUẢN LÝ LOG MỘC XÀ</p>
        <p id="today">Ngày: </p>
        <div class="general">
            <label for="total_printed" class="text_label">Tổng số hình đã in</label>
            <p id="photos_printed"></p>
        </div>
        <div class="general d-none">
            <label for="total_printed" class="text_label_details">Ảnh tiêu chuẩn (150.000 VND)</label>
            <p id="total_printed"></p>
        </div>
        <div class="general d-none">
            <label for="total_printed" class="text_label_details">Ảnh extra (70.000 VND)</label>
            <p id="total_printed"></p>
        </div>
        <div class="general">
            <label for="total_printed" class="text_label_cost">Doanh thu</label>
            <p id="total_cost"></p>
        </div>

        <div class="general show_qrcode">
            <p class="title">TÌM LẠI QR CODE</p>
            <div class="input-qrcode">
                <label for="link-qrcode">Nhập số của Ảnh cần tìm</label>
                <input type="text" id="input_qr" class="link-qrcode" placeholder="Example: 4011">
                <button id="checkNumQr">Kiểm tra</button> 
            </div>
            <div class="output-qrcode" id="output_qr">
                <img id="qrcode" src="/static/images/coaster.png" alt="QR Code will appear here" style="max-width: 300px;" />
            </div>
        </div>

        <br>
        <p class="title">QUẢN LÝ LOG HÒN THƠM</p>
        <div class="general">
            <label for="total_printed_ht" class="text_label">Tổng số hình đã in</label>
            <p id="photos_printed_ht"></p>
        </div>
        <div class="general">
            <label for="total_printed" class="text_label_details">Standard Package</label>
            <p id="photo_standard"></p>
        </div>
        <div class="general">
            <label for="total_printed" class="text_label_details">Full Package</label>
            <p id="photo_full"></p>
        </div>
        <div class="general">
            <label for="total_printed" class="text_label_details">Extra</label>
            <p id="photo_extra"></p>
        </div>
        
        <div class="logo">
            <img src="/static/images/dpi_logo.png" alt="DPI_LOGO">
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>